<section class="hero py-16 mb-4">
  <div class="container mx-auto flex items-center justify-between">
      <div class="w-1/2">
          <h6 class="text-lg"><em>Are you hungry?</em></h6>
          <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
          <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
      </div>
      <div class="w-1/2">
          <img src="/img/home.jpg" alt="">
      </div>
  </div>
</section>

<div class="container mx-auto mt-8">
  <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
    <div class="w-full md:w-64">
      <a href="/starter"><img class=" imgg1 mb-4 mx-auto" src="/img/starters.jpg" alt=""></a>
      <div class="text-center">
         <a href="/starter"><h2 class="mb-4 text-lg font-bold">STARTERS</h2></a>
      </div>
    </div>
    <div class="w-full md:w-64">
      <a href="/course"><img class=" imgg1 mb-4 mx-auto" src="/img/course.jpg" alt=""></a>
      <div class="text-center">
         <a href="/course"><h2 class="mb-4 text-lg font-bold">MAIN-COURSE</h2></a>
      </div>
    </div>
    <div class="w-full md:w-64">
      <a href="/dessert"><img class=" imgg1 mb-4 mx-auto" src="/img/dessert.jpg" alt=""></a>
      <div class="text-center">
         <a href="/dessert"><h2 class="mb-4 text-lg font-bold">DESSERTS</h2></a>
      </div>
    </div>
    <div class="w-full md:w-64">
      <a href="/keventer"><img class=" imgg1 mb-4 mx-auto" src="/img/keventers.jpg" alt=""></a>
      <div class="text-center">
         <a href="/keventer"><h2 class="mb-4 text-lg font-bold">KEVENTERS</h2></a>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-content-between bg-black h-15">
      <h4 class="mx-auto text-white text-xl ">CONTACT : 8809458332</h4>  <h4 class="mx-auto text-white text-xl">EMAIL : dips@gmail.com</h4>
</div>
